# Specific directory to exclude:
__pycache__/
local/
files/*
test/
python3_virtualenv_sources/src/

# Specific files to exclude:
config.ini~
real.py
header-files-4works.vim

# Specific files types to exclude:
*.sw*
