# Specific directory to exclude:
__pycache__/
extra_unused/
local/
cropped/*
got/*
truncated_files/*
bad_processed_files/*

# Specific files to exclude:
config.ini~
crontab
real.py
header-files-4works.vim

# Specific files types to exclude:
*.sw*
