0 0 * * * {{MFDATA_HOME}}/bin/cronwrap.sh -l -e -- plugin_wrapper image_treatment tar -cf $MFDATA_CURRENT_PLUGIN_DIR/files/final/$(date +\%Y_\%m_\%d).tar $MFDATA_CURRENT_PLUGIN_DIR/files/final/* && sh $MFDATA_CURRENT_PLUGIN_DIR/script_ftp.sh && rm $MFDATA_CURRENT_PLUGIN_DIR/files/final/* && rm $MFDATA_CURRENT_PLUGIN_DIR/files/got/*
