0 0 * * * rm $MFDATA_CURRENT_PLUGIN_DIR/files/got/*
0 0 * * * tar -cf $MFDATA_CURRENT_PLUGIN_DIR/files/final/$(date +\%Y_\%m_\%d).tar $MFDATA_CURRENT_PLUGIN_DIR/files/final/* && $MFDATA_CURRENT_PLUGIN_DIR/script_ftp.sh && rm $MFDATA_CURRENT_PLUGIN_DIR/files/final/!(*.tar)
